h1
{
    color:red;
    background-color:aqua;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.c1
{
    color:blue;
    background-color: mediumaquamarine;
    font-size: larger;
}

body
{
    background-image: url('https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg');
}