<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div style="background-color: aliceblue;font-weight: bold;">
        <div style="width:300px;margin:auto;padding: 20px;">
            <h4 style="color:red">{{error}}</h4>
            <h1 style="color:magenta">Welcome {{username}},To Amazon DashBoard Page</h1>
            <a href="{% url 'logout' %}">Logout</a>


        </div>
     </div>
    
</body>
</html>