<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: aliceblue;font-weight: bold;">
        <div style="width:300px;margin:auto;padding: 20px;">
         <form action="{% url 'loginu' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>User Name :- </th>
                    <td><input type="text" name="uname" autocomplete="off"></td>
                </tr>

                <tr>
                    <th>Password:- </th>
                    <td><input type="password" name="password" autocomplete="off"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Login">
            
         </form>

         <p style="color:red">{{error}}</p>


        </div>

      
        

    </div>
</body>
</html>