{% extends 'base.html' %}
{% block content %}

 <table class="table table-success table-striped-columns w-50 m-auto mt-4">
  
  <thead>
    <tr>
      
      <th scope="col">Product id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Catergory</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {% for i in d %}
    <tr>
      <th scope="row">{{i.pid}}</th>
      <td>{{i.pname}}</td>
      <td>{{i.category}}</td>
      <td>{{i.stock}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>



{% endblock %}