{% extends 'base.html' %}
{% block content %}

<h3>Your Cart</h3>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total</th>
    </tr>

    {% for item in cart_items %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price|floatformat:2 }}</td>
    </tr>
    {% endfor %}
</table>

<h4>Grand Total: {{ total }}</h4>

{% endblock %} 


