
{% extends 'base.html' %}
<title>{% block title %}Amazon Clone{% endblock %}</title>
{% block content %}


<div class="mb-3">
    {% for cat in categories %}
        <a href="{% url 'category_products' cat.id %}" class="btn btn-outline-primary">
            {{ cat.name }}
        </a>
    {% endfor %}
</div>

<div class="row g-4">
    {% for product in products %}
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top card-img-fixed">
            <div class="card-body d-flex flex-column">
                <h5>{{ product.name }}</h5>
                <p>{{ product.price }}</p>
                <a href="" class="btn btn-primary">
                    Add to Cart
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}





