<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width:600px;border:2px solid blue;margin: auto;color: blueviolet;">
  <h1 style="text-align: center;">About Page</h1>  
  <hr>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti eius, neque velit labore adipisci itaque reiciendis modi deserunt aspernatur distinctio, id ipsa repudiandae! Debitis aliquid ut libero placeat enim perspiciatis.</p>
   <a href="{% url 'welcome'%}">Back to Welcome</a>  
</div>
</body>
</html>




