<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="width:500px;margin: auto;padding: 10px;">
        <h3 style="text-align: center;">Please Contact Here</h3>
        <hr>
        <form>
            <table width="350px" cellpadding="8">
                <tr>
                    <th>User Name :-</th>
                    <td><input type="text"></td>
                </tr>

                 <tr>
                    <th>Email :-</th>
                    <td><input type="email"></td>
                </tr>

                <tr>
                    <th>Contact Number :-</th>
                    <td><input type="number"></td>
                </tr>

                <tr>
                    <th>City:-</th>
                    <td><input type="text"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Contact Us"></td>
                </tr>



            </table>
        </form>

    </div>
    
</body>
</html>